.cart {
  @include flex(flex, column, false, center, space-evenly);
  display: none;
  position: fixed;
  width: 70%;
  padding: 40px 30px;
  top: 60px;
  right: 50%;
  transform: translate(50%, 0);
  background-color: $link-color;
  z-index: 19;

  .cross {
    margin-left: auto;
    fill: $second-text-color;
  }

  &__title {
    margin-bottom: 30px;
    @include font(20px, $second-text-color, 400, 2.5, center, 2px, uppercase);
  }

  &__item {
    @include flex(flex, row, false, center, space-evenly);
    border: 1px solid $header-bcg-color;
    padding: 30px;
  }

  &.is-open {
    @include flex(flex, column, false, center, space-evenly);
  }

  table {
    border-collapse: collapse;
  }

  th {
    padding: 10px;
    @include font(20px, $second-text-color, 400, 2.5, center, 2px, uppercase);
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $main-text-color;
  }

  td {
    padding: 10px;
    @include font(16px, $second-text-color, 400, 2.5, center, 2px, uppercase);
  }

  .del__item {
    cursor: pointer;
    width: 10px;
  }
}
