html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
ul,
ol,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

ol,
ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

.btn {
  display: block;
  border: none;
  cursor: pointer;
  padding: 16px;
  background-color: inherit;
  @include font(11px, $main-text-color, 700, 1, center, 1px, uppercase);
}

.btn--active:hover {
  transition: background-color 0.3s;
  opacity: 0.5;
}

.custom-btn {
  background-color: $btn-bcg-color;
  border: 2px solid $btn-bcg-color;
}
